<h1>간단한 함수 만들기

In [9]:
def my_sq(x):
    return x**2

In [10]:
my_sq(2)

4

In [11]:
def my_exp(x, n):
    return x**n

In [12]:
print(my_exp(2,4))

16

<h1>apply 메서드 사용 - 기초

In [7]:
import pandas as pd

In [14]:
df=pd.DataFrame({'a':[10,20,30], 'b':[20,30,40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [15]:
print(df['a']**2)

0    100
1    400
2    900
Name: a, dtype: int64

In [16]:
sq=df['a'].apply(my_sq)
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [17]:
ex=df['a'].apply(my_exp, n=2)
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64

In [18]:
ex=df['a'].apply(my_exp, n=3)
print(ex)

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [19]:
def print_me(x):
    print(x)

In [20]:
print(df.apply(print_me, axis=0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [2]:
import seaborn as sns

titanic=sns.load_dataset("titanic")

In [3]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

In [4]:
import numpy as np

def count_missing(vec):
    null_vec=pd.isnull(vec)
    null_count=np.sum(null_vec)
    return null_count

In [8]:
cmis_col=titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [9]:
def prop_missing(vec):
    num=count_missing(vec)
    dem=vec.size
    return num/dem

In [10]:
pmis_col=titanic.apply(prop_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [11]:
def prop_complete(vec):
    return 1-prop_missing(vec)

In [12]:
cmis_row=titanic.apply(count_missing, axis=1)
pmis_row=titanic.apply(prop_missing, axis=1)
pcom_row=titanic.apply(prop_complete, axis=1)

print(cmis_row.head())

print(pmis_row.head())

print(pcom_row.head())

0    1
1    0
2    1
3    0
4    1
dtype: int64
0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64
0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [13]:
titanic['num_missing']=titanic.apply(count_missing, axis=1)

print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1

In [14]:
print(titanic.loc[titanic.num_missing > 1, :].sample(10))

     survived  pclass     sex  age  sibsp  parch     fare embarked  class  \
214         0       3    male  NaN      1      0   7.7500        Q  Third
773         0       3    male  NaN      0      0   7.2250        C  Third
524         0       3    male  NaN      0      0   7.2292        C  Third
859         0       3    male  NaN      0      0   7.2292        C  Third
300         1       3  female  NaN      0      0   7.7500        Q  Third
656         0       3    male  NaN      0      0   7.8958        S  Third
692         1       3    male  NaN      0      0  56.4958        S  Third
359         1       3  female  NaN      0      0   7.8792        Q  Third
832         0       3    male  NaN      0      0   7.2292        C  Third
739         0       3    male  NaN      0      0   7.8958        S  Third

       who  adult_male deck  embark_town alive  alone  num_missing
214    man        True  NaN   Queenstown    no  False            2
773    man        True  NaN    Cherbourg    no   True            2
524    man        True  NaN    Cherbourg    no   True            2
859    man        True  NaN    Cherbourg    no   True            2
300  woman       False  NaN   Queenstown   yes   True            2
656    man        True  NaN  Southampton    no   True            2
692    man        True  NaN  Southampton   yes   True            2
359  woman       False  NaN   Queenstown   yes   True            2
832    man        True  NaN    Cherbourg    no   True            2
739    man        True  NaN  Southampton    no   True            2