<h1>melt 메서드 사용하기

In [1]:
import pandas as pd

In [2]:
pew=pd.read_csv('./data/pew.csv')
print(pew.head())

             religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  \
0            Agnostic     27       34       60       81       76      137
1             Atheist     12       27       37       52       35       70
2            Buddhist     27       21       30       34       33       58
3            Catholic    418      617      732      670      638     1116
4  Don’t know/refused     15       14       15       11       10       35

   $75-100k  $100-150k  >150k  Don't know/refused
0       122        109     84                  96
1        73         59     74                  76
2        62         39     53                  54
3       949        792    633                1489
4        21         17     18                 116

In [4]:
print(pew.iloc[:,0:6])

                   religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k
0                  Agnostic     27       34       60       81       76
1                   Atheist     12       27       37       52       35
2                  Buddhist     27       21       30       34       33
3                  Catholic    418      617      732      670      638
4        Don’t know/refused     15       14       15       11       10
5          Evangelical Prot    575      869     1064      982      881
6                     Hindu      1        9        7        9       11
7   Historically Black Prot    228      244      236      238      197
8         Jehovah's Witness     20       27       24       24       21
9                    Jewish     19       19       25       25       30
10            Mainline Prot    289      495      619      655      651
11                   Mormon     29       40       48       51       56
12                   Muslim      6        7        9       10        9
13                 Orthodox     13       17       23       32       32
14          Other Christian      9        7       11       13       13
15             Other Faiths     20       33       40       46       49
16    Other World Religions      5        2        3        4        2
17             Unaffiliated    217      299      374      365      341

In [5]:
pew_long=pd.melt(pew, id_vars='religion')
print(pew_long.head())

             religion variable  value
0            Agnostic    <$10k     27
1             Atheist    <$10k     12
2            Buddhist    <$10k     27
3            Catholic    <$10k    418
4  Don’t know/refused    <$10k     15

In [6]:
pew_long=pd.melt(pew, id_vars='religion', var_name='income', value_name='count')
print(pew_long.head())

             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

In [9]:
billboard=pd.read_csv('./data/billboard.csv')
print(billboard.iloc[0:5, 0:16])
print(billboard)

   year        artist                    track  time date.entered  wk1   wk2  \
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87  82.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91  87.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   81  70.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21   76  76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   57  34.0

    wk3   wk4   wk5   wk6   wk7   wk8   wk9  wk10  wk11
0  72.0  77.0  87.0  94.0  99.0   NaN   NaN   NaN   NaN
1  92.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  68.0  67.0  66.0  57.0  54.0  53.0  51.0  51.0  51.0
3  72.0  69.0  67.0  65.0  55.0  59.0  62.0  61.0  61.0
4  25.0  17.0  17.0  31.0  36.0  49.0  53.0  57.0  64.0
     year            artist                    track  time date.entered  wk1  \
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08   81
3    2000      3 Doors Down                    Loser  4:24   2000-10-21   76
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15   57
..    ...               ...                      ...   ...          ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29   86
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01   85
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18   95
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02   99
316  2000   matchbox twenty                     Bent  4:12   2000-04-29   60

      wk2   wk3   wk4   wk5  ...  wk67  wk68  wk69  wk70  wk71  wk72  wk73  \
0    82.0  72.0  77.0  87.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1    87.0  92.0   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2    70.0  68.0  67.0  66.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3    76.0  72.0  69.0  67.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4    34.0  25.0  17.0  17.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
..    ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...   ...
312  83.0  77.0  74.0  83.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
313  83.0  83.0  82.0  81.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
314  94.0  91.0  85.0  84.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
315  99.0   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
316  37.0  29.0  24.0  22.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN

     wk74  wk75  wk76
0     NaN   NaN   NaN
1     NaN   NaN   NaN
2     NaN   NaN   NaN
3     NaN   NaN   NaN
4     NaN   NaN   NaN
..    ...   ...   ...
312   NaN   NaN   NaN
313   NaN   NaN   NaN
314   NaN   NaN   NaN
315   NaN   NaN   NaN
316   NaN   NaN   NaN

[317 rows x 81 columns]

In [8]:
billboard_long=pd.melt(billboard, id_vars=['year', 'artist', 'track', 'time', 'date.entered'], var_name='week', value_name='rating')
print(billboard_long)

       year            artist                    track  time date.entered  \
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000      3 Doors Down                    Loser  4:24   2000-10-21
4      2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
...     ...               ...                      ...   ...          ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000   matchbox twenty                     Bent  4:12   2000-04-29

       week  rating
0       wk1    87.0
1       wk1    91.0
2       wk1    81.0
3       wk1    76.0
4       wk1    57.0
...     ...     ...
24087  wk76     NaN
24088  wk76     NaN
24089  wk76     NaN
24090  wk76     NaN
24091  wk76     NaN

[24092 rows x 7 columns]

<h1>열 이름 관리하기

In [10]:
ebola=pd.read_csv('./data/country_timeseries.csv')
print(ebola.columns)

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')

In [11]:
print(ebola.iloc[:5, [0,1,2,3,10,11]])

         Date  Day  Cases_Guinea  Cases_Liberia  Deaths_Guinea  Deaths_Liberia
0    1/5/2015  289        2776.0            NaN         1786.0             NaN
1    1/4/2015  288        2775.0            NaN         1781.0             NaN
2    1/3/2015  287        2769.0         8166.0         1767.0          3496.0
3    1/2/2015  286           NaN         8157.0            NaN          3496.0
4  12/31/2014  284        2730.0         8115.0         1739.0          3471.0

In [12]:
ebola_long=pd.melt(ebola, id_vars=['Date', 'Day'])
print(ebola_long)

            Date  Day      variable   value
0       1/5/2015  289  Cases_Guinea  2776.0
1       1/4/2015  288  Cases_Guinea  2775.0
2       1/3/2015  287  Cases_Guinea  2769.0
3       1/2/2015  286  Cases_Guinea     NaN
4     12/31/2014  284  Cases_Guinea  2730.0
...          ...  ...           ...     ...
1947   3/27/2014    5   Deaths_Mali     NaN
1948   3/26/2014    4   Deaths_Mali     NaN
1949   3/25/2014    3   Deaths_Mali     NaN
1950   3/24/2014    2   Deaths_Mali     NaN
1951   3/22/2014    0   Deaths_Mali     NaN

[1952 rows x 4 columns]

In [13]:
variable_split=ebola_long.variable.str.split('_')
print(variable_split[:5])

0    [Cases, Guinea]
1    [Cases, Guinea]
2    [Cases, Guinea]
3    [Cases, Guinea]
4    [Cases, Guinea]
Name: variable, dtype: object

In [14]:
status_values=variable_split.str.get(0)
country_values=variable_split.str.get(1)

print(status_values[:5])

0    Cases
1    Cases
2    Cases
3    Cases
4    Cases
Name: variable, dtype: object

In [15]:
print(status_values[-5:])

1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, dtype: object

In [16]:
print(country_values[:5])

0    Guinea
1    Guinea
2    Guinea
3    Guinea
4    Guinea
Name: variable, dtype: object

In [17]:
print(country_values[-5:])

1947    Mali
1948    Mali
1949    Mali
1950    Mali
1951    Mali
Name: variable, dtype: object

In [18]:
ebola_long['status']=status_values
ebola_long['country']=country_values
print(ebola_long.head())

         Date  Day      variable   value status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

In [19]:
variable_split=ebola_long.variable.str.split('_', expand=True)
variable_split.columns=['status', 'country']
ebola_parsed=pd.concat([ebola_long, variable_split], axis=1)

print(ebola_parsed.head())

         Date  Day      variable   value status country status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea  Cases  Guinea

In [20]:
weather=pd.read_csv('./data/weather.csv')
print(weather.iloc[:5, :])

        id  year  month element  d1    d2    d3  d4    d5  d6  ...  d22   d23  \
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN  ...  NaN  29.9
3  MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN  ...  NaN  10.7
4  MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN  ...  NaN   NaN

   d24  d25  d26  d27  d28  d29   d30  d31
0  NaN  NaN  NaN  NaN  NaN  NaN  27.8  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  14.5  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN

[5 rows x 35 columns]

In [21]:
weather_melt=pd.melt(weather, id_vars=['id', 'year', 'month', 'element'], var_name='day', value_name='temp')
print(weather_melt)

          id  year  month element  day  temp
0    MX17004  2010      1    tmax   d1   NaN
1    MX17004  2010      1    tmin   d1   NaN
2    MX17004  2010      2    tmax   d1   NaN
3    MX17004  2010      2    tmin   d1   NaN
4    MX17004  2010      3    tmax   d1   NaN
..       ...   ...    ...     ...  ...   ...
677  MX17004  2010     10    tmin  d31   NaN
678  MX17004  2010     11    tmax  d31   NaN
679  MX17004  2010     11    tmin  d31   NaN
680  MX17004  2010     12    tmax  d31   NaN
681  MX17004  2010     12    tmin  d31   NaN

[682 rows x 6 columns]

In [22]:
weather_tidy=weather_melt.pivot_table( index=['id', 'year', 'month', 'day'],
                                     columns='element',
                                     values='temp',
                                     dropna=False)
print(weather_tidy)

element                 tmax  tmin
id      year month day
MX17004 2010 1     d1    NaN   NaN
                   d10   NaN   NaN
                   d11   NaN   NaN
                   d12   NaN   NaN
                   d13   NaN   NaN
...                      ...   ...
             12    d5    NaN   NaN
                   d6   27.8  10.5
                   d7    NaN   NaN
                   d8    NaN   NaN
                   d9    NaN   NaN

[341 rows x 2 columns]

In [23]:
weather_tidy_flat=weather_tidy.reset_index()
print(weather_tidy_flat.head())

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1   d1   NaN   NaN
1        MX17004  2010      1  d10   NaN   NaN
2        MX17004  2010      1  d11   NaN   NaN
3        MX17004  2010      1  d12   NaN   NaN
4        MX17004  2010      1  d13   NaN   NaN

<h1>중복 데이터 처리하기

In [24]:
billboard=pd.read_csv('./data/billboard.csv')
print(billboard)
billboard_long=pd.melt(billboard, id_vars=['year', 'artist', 'track', 'time', 'date.entered'], var_name='week', value_name='rating')
print(billboard_long)

     year            artist                    track  time date.entered  wk1  \
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08   81
3    2000      3 Doors Down                    Loser  4:24   2000-10-21   76
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15   57
..    ...               ...                      ...   ...          ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29   86
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01   85
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18   95
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02   99
316  2000   matchbox twenty                     Bent  4:12   2000-04-29   60

      wk2   wk3   wk4   wk5  ...  wk67  wk68  wk69  wk70  wk71  wk72  wk73  \
0    82.0  72.0  77.0  87.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1    87.0  92.0   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2    70.0  68.0  67.0  66.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3    76.0  72.0  69.0  67.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4    34.0  25.0  17.0  17.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
..    ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...   ...
312  83.0  77.0  74.0  83.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
313  83.0  83.0  82.0  81.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
314  94.0  91.0  85.0  84.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
315  99.0   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
316  37.0  29.0  24.0  22.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN

     wk74  wk75  wk76
0     NaN   NaN   NaN
1     NaN   NaN   NaN
2     NaN   NaN   NaN
3     NaN   NaN   NaN
4     NaN   NaN   NaN
..    ...   ...   ...
312   NaN   NaN   NaN
313   NaN   NaN   NaN
314   NaN   NaN   NaN
315   NaN   NaN   NaN
316   NaN   NaN   NaN

[317 rows x 81 columns]
       year            artist                    track  time date.entered  \
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000      3 Doors Down                    Loser  4:24   2000-10-21
4      2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
...     ...               ...                      ...   ...          ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000   matchbox twenty                     Bent  4:12   2000-04-29

       week  rating
0       wk1    87.0
1       wk1    91.0
2       wk1    81.0
3       wk1    76.0
4       wk1    57.0
...     ...     ...
24087  wk76     NaN
24088  wk76     NaN
24089  wk76     NaN
24090  wk76     NaN
24091  wk76     NaN

[24092 rows x 7 columns]

In [25]:
print(billboard_long[billboard_long.track=='Loser'].head())

      year        artist  track  time date.entered week  rating
3     2000  3 Doors Down  Loser  4:24   2000-10-21  wk1    76.0
320   2000  3 Doors Down  Loser  4:24   2000-10-21  wk2    76.0
637   2000  3 Doors Down  Loser  4:24   2000-10-21  wk3    72.0
954   2000  3 Doors Down  Loser  4:24   2000-10-21  wk4    69.0
1271  2000  3 Doors Down  Loser  4:24   2000-10-21  wk5    67.0

In [26]:
billboard_songs=billboard_long[['year', 'artist', 'track', 'time']]
print(billboard_songs.shape)

(24092, 4)

In [27]:
billboard_songs=billboard_songs.drop_duplicates()
print(billboard_songs.shape)

(317, 4)

In [28]:
billboard_songs['id']=range(len(billboard_songs))
print(billboard_songs.head(n=10))

   year          artist                    track  time  id
0  2000           2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000         2Ge+her  The Hardest Part Of ...  3:15   1
2  2000    3 Doors Down               Kryptonite  3:53   2
3  2000    3 Doors Down                    Loser  4:24   3
4  2000        504 Boyz            Wobble Wobble  3:35   4
5  2000            98^0  Give Me Just One Nig...  3:24   5
6  2000         A*Teens            Dancing Queen  3:44   6
7  2000         Aaliyah            I Don't Wanna  4:15   7
8  2000         Aaliyah                Try Again  4:03   8
9  2000  Adams, Yolanda            Open My Heart  5:30   9

<ipython-input-28-2fa34b6415ad>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  billboard_songs['id']=range(len(billboard_songs))

In [29]:
billboard_ratings=billboard_long.merge(billboard_songs, on=['year', 'artist', 'track', 'time'])
print(billboard_ratings.shape)

(24092, 8)

In [30]:
print(billboard_ratings.head())

   year artist                    track  time date.entered week  rating  id
0  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0   0
1  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk2    82.0   0
2  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk3    72.0   0
3  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk4    77.0   0
4  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk5    87.0   0

<h1>대용량 데이터 처리하기

In [31]:
import os
import urllib.request

In [32]:
with open('./data/raw_data_urls.txt', 'r') as data_urls:
    for line, url in enumerate(data_urls):
        if line==5:
            break
        fn=url.split('/')[-1].strip()
        fp=os.path.join('','./data', fn)
        print(url)
        print(fp)
        urllib.request.urlretrieve(url, fp)

https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv

./data\fhv_tripdata_2015-01.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-02.csv

./data\fhv_tripdata_2015-02.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-03.csv

./data\fhv_tripdata_2015-03.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-04.csv

./data\fhv_tripdata_2015-04.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-05.csv

./data\fhv_tripdata_2015-05.csv

In [33]:
import glob

In [34]:
nyc_taxi_data=glob.glob('./data/fhv_*')
print(nyc_taxi_data)

['./data\\fhv_tripdata_2015-01.csv', './data\\fhv_tripdata_2015-02.csv', './data\\fhv_tripdata_2015-03.csv', './data\\fhv_tripdata_2015-04.csv', './data\\fhv_tripdata_2015-05.csv']

In [35]:
taxi1=pd.read_csv(nyc_taxi_data[0])
taxi2=pd.read_csv(nyc_taxi_data[1])
taxi3=pd.read_csv(nyc_taxi_data[2])
taxi4=pd.read_csv(nyc_taxi_data[3])
taxi5=pd.read_csv(nyc_taxi_data[4])

In [37]:
print(taxi1.head(n=2))

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN

In [38]:
print(taxi2.head(n=2))

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-02-01 00:00:00         NaN
1               B00013  2015-02-01 00:01:00         NaN

In [39]:
print(taxi3.head(n=2))

  Dispatching_base_num          Pickup_date  locationID
0               B00029  2015-03-01 00:02:00       213.0
1               B00029  2015-03-01 00:03:00        51.0

In [40]:
print(taxi4.head(n=2))

  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-04-01 04:30:00         NaN
1               B00001  2015-04-01 06:00:00         NaN

In [41]:
print(taxi5.head(n=2))

  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-05-01 04:30:00         NaN
1               B00001  2015-05-01 05:00:00         NaN

In [42]:
print(taxi1.shape)
print(taxi2.shape)
print(taxi3.shape)
print(taxi4.shape)
print(taxi5.shape)

(2746033, 3)
(3126401, 3)
(3281427, 3)
(3917789, 3)
(4296067, 3)

In [43]:
taxi=pd.concat([taxi1, taxi2, taxi3, taxi4, taxi5])
print(taxi)

        Dispatching_base_num          Pickup_date  locationID
0                     B00013  2015-01-01 00:30:00         NaN
1                     B00013  2015-01-01 01:22:00         NaN
2                     B00013  2015-01-01 01:23:00         NaN
3                     B00013  2015-01-01 01:44:00         NaN
4                     B00013  2015-01-01 02:00:00         NaN
...                      ...                  ...         ...
4296062               B02821  2015-05-31 14:00:00         NaN
4296063               B02821  2015-05-31 14:32:00         NaN
4296064               B02821  2015-05-31 14:45:00         NaN
4296065               B02821  2015-05-31 17:44:00         NaN
4296066               B02821  2015-05-31 18:13:00         NaN

[17367717 rows x 3 columns]

In [44]:
list_taxi_df=[]
for csv_filename in nyc_taxi_data:
    df=pd.read_csv(csv_filename)
    list_taxi_df.append(df)
    
print(len(list_taxi_df))

5

In [45]:
print(list_taxi_df[0].head())

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
2               B00013  2015-01-01 01:23:00         NaN
3               B00013  2015-01-01 01:44:00         NaN
4               B00013  2015-01-01 02:00:00         NaN

In [46]:
taxi_loop_concat=pd.concat(list_taxi_df)
print(taxi_loop_concat.shape)
print(taxi.equals(taxi_loop_concat))

(17367717, 3)
True